{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div class="teste">
    <div class="page-header">
        <div class="page-header">
            <h1 class="text-center">Detalhes Atividade</h1>
            <a href="/admin/vinculacao">
                <button type="button" class="btn btn-primary btn-lg">
                    <i class="glyphicon glyphicon-chevron-left"></i>Voltar</button>
            </a>
        </div>
        <dl class="dl-horizontal">
            <dt>Cod atividade</dt>
            <dd>{{atividade.id}}</dd>
            <dt>Descricao</dt>
            <dd>{{atividade.descricao}}</dd>
        </dl>
        <a href="/admin/atividades/editar/{{ atividade.id }}">
            <button class="btn btn-info">
                <i class="glyphicon glyphicon-pencil"></i>&nbsp;Editar</button>
        </a>
        {% endblock %}
        </div>