{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div class="teste">
    <div class="page-header">
        <h1 class="text-center">Atividades</h1>
    </div>
    <div class="text-center">
        <label>Pesquisar:</label>
        <input id="pesquisar" name="pesquisar" type="search" placeholder="Digite o codigo"/>
    </div>
    <a href="/admin/atividades/cadastrar">
        <button class="btn btn-success btn-lg pull-right">
            <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Cadastrar</button>
    </a>
    <table id="listaAtividades" class="table">
        <tbody>
            <tr>
                <td><h3>Cod Atividade</h3></td>
                <td><h3>Descrição</h3></td>
                <th></th>
            </tr>
            {% for atividade in atividades %}
            <tr>
                <td>{{ atividade.id }}</td>
                <td>{{ atividade.descricao }}</td>
                <td>
                    <a href="/admin/atividades/editar/{{ atividade.id }}">
                        <button class="btn btn-primary">
                            <i class="glyphicon glyphicon-pencil"></i>&nbsp;Editar</button>
                    </a>
                    <a href="/admin/atividades/detalhes/{{ atividade.id }}">
                        <button class="btn btn-info">
                            <i class="glyphicon glyphicon-info-sign"></i>&nbsp;Detalhes</button>
                    </a>
                    <a href="/admin/atividades/deletar/{{ atividade.id }}">
                        <button class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>&nbsp;Deletar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
    var atividades = [];
    var i = 0;
    {% for atividade in atividades %}
        atividades[i] = {id: "", nome: ""};
        atividades[i].id = {{atividade.id}};
        atividades[i].descricao = "{{atividade.descricao}}";
        i++;
    {% endfor %}
    </script>
    <script src="{{url_for('static', filename='pesquisaAtividade.js')}}"></script>
    {% endblock %}
</div>
