{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div style="background: rgba(248, 247, 247, 0.596);padding: 30px;margin-top: 50px;border-radius: 10px;">
    <div class="page-header">
        <h1 style="text-align: center;">Atividades</h1>
    </div>
    <a href="/admin/atividades/cadastrar">
        <button class="btn btn-success btn-lg" style="float:right;">
            <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Cadastrar</button>
    </a>
    <table class="table">
        <tbody>
            <tr>
                <td>Cod Atividade</td>
                <td>Descricao</td>
                <th></th>
            </tr>
            {% for atividade in atividades %}
            <tr>
                <td>{{ atividade.id }}</td>
                <td>{{ atividade.descricao }}</td>
                <td>
                    <a href="/admin/atividades/editar/{{ atividade.id }}">
                        <button class="btn btn-primary">
                            <i class="glyphicon glyphicon-pencil"></i>&nbsp;Editar</button>
                    </a>
                    <a href="/admin/atividades/detalhes/{{ atividade.id }}">
                        <button class="btn btn-info">
                            <i class="glyphicon glyphicon-info-sign"></i>&nbsp;Detalhes</button>
                    </a>
                    <a href="/admin/atividades/deletar/{{ atividade.id }}">
                        <button class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>&nbsp;Deletar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</div>