{% extends "base.html" %}
{% block page_content %}
<form>
    <input type="text" name="codProjeto" placeholder="Cod Projeto"><br>
    <input type="text" name="nomeProjeto" placeholder="Nome Projeto"><br>
    <select>
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
    </select><br>
    <input type="text" name="descProjeto" placeholder="Descrição do Projeto"><br>
    <button>Excluir</button>
    <br>
    <button>Gravar</button>
</form>
{% endblock %}