{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div class="teste">
    <div class="page-header">
        <h1 class="text-center">Clientes</h1>
    </div>
    <div class="text-center">
        <label>Pesquisar:</label>
        <input id="pesquisar" name="pesquisar" type="search" placeholder="Digite o cpf/cnpj"/>
    </div>
    <a href="/admin/clientes/cadastrar">
        <button class="btn btn-success btn-lg pull-right">
            <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Cadastrar</button>
    </a>
    <table id="listaClientes" class="table">
        <tbody>
            <tr>
                <td>
                    <h3>CPF/CNPJ</h3>
                </td>
                <td>
                    <h3>Nome</h3>
                </td>
                <th></th>
            </tr>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.cpfcnpj }}</td>
                <td>{{ cliente.nome }}</td>
                <td>
                    <a href="/admin/clientes/editar/{{ cliente.id }}">
                        <button class="btn btn-primary">
                            <i class="glyphicon glyphicon-pencil"></i>&nbsp;Editar</button>
                    </a>
                    <a href="/admin/clientes/detalhes/{{ cliente.id }}">
                        <button class="btn btn-info">
                            <i class="glyphicon glyphicon-info-sign"></i>&nbsp;Detalhes</button>
                    </a>
                    <a href="/admin/clientes/deletar/{{ cliente.id }}">
                        <button class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>&nbsp;Deletar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   <script>
    var clientes = [];
    var i = 0;
    {% for cliente in clientes %}
        clientes[i] = {id: "", cpfcnpj: "", nome: ""};
        clientes[i].id = {{cliente.id}};
        clientes[i].cpfcnpj = {{cliente.cpfcnpj}};
        clientes[i].nome = "{{cliente.nome}}";
        i++;
    {% endfor %}
    </script>
    <script src="{{url_for('static', filename='pesquisaCliente.js')}}"></script>
    {% endblock %}
</div>