{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Clientes</h1>
</div>
<label><a href="/admin/clientes/cadastrar">Cadastrar</a></label>
<table  class="table">
    <tbody>
        <tr>
            <td>CPF/CNPJ</td>
            <td>Nome</td>
            <th></th>
        </tr>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.cpfcnpj }}</td>
                <td>{{ cliente.nome }}</td>
                <td>
                    <a href="/admin/clientes/editar/{{ cliente.id }}">Editar</a> |
                    <a href="/admin/clientes/detalhes/{{ cliente.id }}">Detalhes</a> |
                    <a href="/admin/clientes/deletar/{{ cliente.id }}">Deletar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}