{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %}{% block title %}Funcionarios{% endblock %} {% block page_content %}
<div class="teste">
    <div class="page-header">
        <h1 class="text-center">Funcionários</h1>
    </div>
    <div class="text-center">
        <label>Pesquisar:</label>
        <input id="pesquisar" name="pesquisar" type="search" placeholder="Digite o codigo"/>
    </div>
    <a href="/admin/funcionario/cadastrar">
        <button class="btn btn-success btn-lg pull-right">
            <i class="glyphicon glyphicon-user"></i>&nbsp;Cadastrar</button>
    </a>
    <br>
    <br>
    <table id="listaFuncionarios" class="table">
        <tbody>
            <tr>
                <th>
                    <h3>Matrícula</h3>
                </th>
                <th>
                    <h3>Nome</h3>
                </th>
                <th></th>
            </tr>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.matricula }}</td>
                <td>{{ funcionario.nome }}</td>

                <td>
                    <a href="/admin/funcionario/editar/{{ funcionario.id }}">
                        <button class="btn btn-primary">
                            <i class="glyphicon glyphicon-pencil"></i>&nbsp;Editar</button>
                    </a>
                    <a href="/admin/funcionario/detalhes/{{ funcionario.id }}">
                        <button class="btn btn-info">
                            <i class="glyphicon glyphicon-info-sign"></i>&nbsp;Detalhes</button>
                    </a>
                    <a href="/admin/funcionario/deletar/{{ funcionario.id }}">
                        <button class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>&nbsp;Deletar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var funcionarios = [];
    var i = 0;
    {% for funcionario in funcionarios %}
        funcionarios[i] = {id: "", nome: "", matricula: ""};
        funcionarios[i].id = {{funcionario.id}};
        funcionarios[i].matricula = "{{funcionario.matricula}}";
        i++;
    {% endfor %}
</script>
<script src="{{url_for('static', filename='pesquisaFuncionario.js')}}"></script>
{% endblock %}