{% extends "base.html" %} {% block page_content %} {% if current_user.is_authenticated %}
<div class="container">
    <div class="row" style="border: 1px solid black;border-radius: 10px;">
        <div class="col-xs-11 col-sm-3" style="min-height: 150px;">
            {% if current_user.is_admin %}
            <h2>Cadastro</h2>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ url_for('talks.projeto') }}">Projetos</a>
                </li>
                <li>
                    <a href="{{ url_for('talks.clientes') }}">Clientes</a>
                </li>
                <li>
                    <a href="{{ url_for('talks.funcionario') }}">Funcionarios</a>
                </li>
                <li>
                    <a href="{{ url_for('talks.vinculacao') }}">FuncionariosXProjetos</a>
                </li>
                <li>
                    <a href="{{ url_for('talks.atividades') }}">Atividades</a>
                </li>
            </ul>
            {% endif %}
        </div>
        <div class="col-xs-11 col-sm-3" style="min-height: 150px;">
            <h2>Lançamentos</h2>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ url_for('talks.lancamento') }}">Horas trabalhadas</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-11 col-sm-3" style="min-height: 150px;">
            <h2>Relatórios</h2>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ url_for('talks.relatorios') }}">Minhas horas trabalhadas</a>
                </li>
                <li>
                    <a href="{{ url_for('talks.relatorios') }}">Horas X Projetos</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-11 col-sm-3" style="min-height: 150px;">
            <h2>Suporte</h2>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ url_for('talks.alterarSenha') }}">Alterar Senha</a>
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}">Sair</a>
                </li>
            </ul>
        </div>

    </div>
    {% endif %} {% if not current_user.is_authenticated %}
    <br>
    <br>
    <div style="background: rgb(245, 241, 241);text-align: center;border-radius: 15px;padding: 20px;margin-top:30px;">
        <h1>Sistema para controle de horas trabalhadas</h1>
        <h2>Por favor, efetue o Login para ver esta página.</h2>
    </div>
</div>
{% endif %} {% endblock %}