{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}Cadastrar Lancamento{% endblock %}{% block page_content %}

<div class="teste">
    <div class="page-header">
        <h1 class="text-center">Cadastrar Lancamento</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            {{ wtf.quick_form(form) }}
        </div>
        <br>
        <br>
        <div class="col-xs-12 col-sm-6" class="text-center">
            <button id="iniciar" class="btn btn-success btn-lg" onclick="iniciar()">Iniciar</button>
            <button id="parar" class="btn btn-danger btn-lg" style="display: none;" onclick="parar()">Parar</button>
            <br><br>
            <label>Tempo trabalhado: </label>
            <label id="time"></label>
            <br>
            <script src="{{url_for('static', filename='lancamento.js')}}"></script>
        </div>
    </div>
    {% endblock %}
</div>