{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div class="teste">
    <div class="page-header">
        <h1 class="text-center">Lancamentos</h1>
    </div>
    <div class="text-center">
        <label>Pesquisar:</label>
        <input id="pesquisar" name="pesquisar" type="search" placeholder="Digite o codigo"/>
    </div>
    <a href="/lancamento/cadastrar">
        <button class="btn btn-success btn-lg pull-right" >
            <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Cadastrar</button>
    </a>
    <table id="listaLancamentos" class="table">
        <tbody>
            <tr>
                <td>
                    <h3>Projeto</h3>
                </td>
                <td>
                    <h3>Funcionario</h3>
                </td>
                <td>
                    <h3>Atividade</h3>
                </td>
                <td>
                    <h3>Descricao</h3>
                </td>
                <th></th>
            </tr>
            {% for lancamento in lancamentos %}
            <tr>
                <td>{{ lancamento.projeto.nome }}</td>
                <td>{{ lancamento.funcionario.nome }}</td>
                <td>{{ lancamento.atividade.descricao }}</td>
                <td>{{ lancamento.descricao }}</td>
                <td>
                    <a href="/lancamento/editar/{{ lancamento.id }}">
                        <button class="btn btn-primary">
                            <i class="glyphicon glyphicon-pencil"></i>&nbsp;Editar</button>
                    </a>
                    <a href="/lancamento/detalhes/{{ lancamento.id }}">
                        <button class="btn btn-info">
                            <i class="glyphicon glyphicon-info-sign"></i>&nbsp;Detalhes</button>
                    </a>
                    <a href="/lancamento/deletar/{{ lancamento.id }}">
                        <button class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>&nbsp;Deletar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var lancamentos = [];
    var i = 0;
    {% for lancamento in lancamentos %}
        lancamentos[i] = {id: "", projeto: "", funcionario: "", projeto: "", coordenador: ""};
        lancamentos[i].id = {{lancamento.id}};
        lancamentos[i].funcionario = "{{lancamento.funcionario.nome}}";
        lancamentos[i].projeto = "{{lancamento.projeto.nome}}";
        lancamentos[i].descricao = "{{lancamento.descricao}}";
        i++;
    {% endfor %}
</script>
<script src="{{url_for('static', filename='pesquisaLancamento.js')}}"></script>
{% endblock %}