{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div class="teste">
    <div class="page-header">
        <h1 class="text-center">Lancamentos</h1>
    </div>
    <div class="text-center">
        <label>Pesquisar:</label>
        <input id="pesquisar" name="pesquisar" type="search" placeholder="Digite o codigo"/>
    </div>
    <a href="/lancamento/cadastrar">
        <button class="btn btn-success btn-lg pull-right" >
            <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Cadastrar</button>
    </a>
    <table id="listaLancamentos" class="table">
        <tbody>
            <tr>
                <td>
                    <h3>Código</h3>
                </td>
                <td>
                    <h3>Data Inicio</h3>
                </td>
                <td>
                    <h3>Hora Inicio</h3>
                </td>
                <td>
                    <h3>Data Fim</h3>
                </td>
                <td>
                    <h3>Hora Fim</h3>
                </td>
                <td>
                    <h3>Total Horas</h3>
                </td>
                <th></th>
            </tr>
            {% for lancamento in lancamentos %}
            <tr>
                <td>{{ lancamento.id }}</td>
                <td>{{ lancamento.dataInicio }}</td>
                <td>{{ lancamento.horaInicio }}</td>
                <td>{{ lancamento.dataFim }}</td>
                <td>{{ lancamento.horaFim }}</td>
                <td>{{ lancamento.horasTrabalhadas }}</td>
                <td>
                    <a href="/lancamento/editar/{{ lancamento.id }}">
                        <button class="btn btn-primary">
                            <i class="glyphicon glyphicon-pencil"></i>&nbsp;Editar</button>
                    </a>
                    <a href="/lancamento/detalhes/{{ lancamento.id }}">
                        <button class="btn btn-info">
                            <i class="glyphicon glyphicon-info-sign"></i>&nbsp;Detalhes</button>
                    </a>
                    <a href="/lancamento/deletar/{{ lancamento.id }}">
                        <button class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>&nbsp;Deletar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var lancamentos = [];
    var i = 0;
    {% for lancamento in lancamentos %}
        lancamentos[i] = {id: "", dataInicio: "", horaInicio: "", dataFim: "", horaFim: "", horasTrabalhadas: ""};
        lancamentos[i].id = {{lancamento.id}};
        lancamentos[i].dataInicio = "{{lancamento.dataInicio}}";
        lancamentos[i].horaInicio = "{{lancamento.horaInicio}}";
        lancamentos[i].dataFim = "{{lancamento.dataFim}}";
        lancamentos[i].horaFim = "{{lancamento.horaFim}}";
        lancamentos[i].horasTrabalhadas = "{{lancamento.horasTrabalhadas}}";
        i++;
    {% endfor %}
</script>
<script src="{{url_for('static', filename='pesquisaLancamento.js')}}"></script>
{% endblock %}