{% extends "base.html" %} 
{% block page_content %} 
<div class="page-header">
    <h1 class="text-center">Minhas Horas</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
           {% for message in messages %}
           <li>{{ message }}</li>
           {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <h3>Nome Projeto</h3>
                </td>
                <td>
                    <h3>Horas Trabalhadas</h3>
                </td>
                <th></th>
            </tr>
            {% for relatorio in relatorios %}
                <tr>
                    <td>{{ relatorio.nomeProj }}</td>
                    <td>{{ relatorio.horas }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}