{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}Projetos{% endblock %}{% block page_content %}
<div class="teste">
    <div class="page-header">
        <h1 class="text-center">Projetos</h1>
    </div>
    <div class="text-center">
        <label>Pesquisar:</label>
        <input id="pesquisar" name="pesquisar" type="search" placeholder="Digite o código"/>
    </div>
    <label>
        <a href="/admin/projeto/cadastrar">
            <button class="btn btn-success btn-lg pull-right">
                <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Cadastrar</button>
        </a>
    </label>
    <table id="listaProjetos" class="table">
        <tbody>
            <tr>
                <td><h3>Código</h3></td>
                <td><h3>Nome Projeto</h3></td>
                <td><h3>Cliente</h3></td>
                <td><h3>Descricao</h3></td>
                <th></th>
            </tr>

            {% for projeto in projetos %}
                <tr>
                    <td>{{ projeto.id }}</td>
                    <td>{{ projeto.nome }}</td>
                    <td>{{ projeto.cliente.nome }}</td>
                    <td>{{ projeto.descricao }}</td>
                    <td>
                        <a href="/admin/projeto/editar/{{ projeto.id }}">
                            <button class="btn btn-primary">
                                <i class="glyphicon glyphicon-pencil"></i>&nbsp;Editar</button>
                        </a>
                        <a href="/admin/projeto/detalhes/{{ projeto.id }}">
                            <button class="btn btn-info">
                                <i class="glyphicon glyphicon-info-sign"></i>&nbsp;Detalhes</button>
                        </a>
                        <a href="/admin/projeto/deletar/{{ projeto.id}}">
                            <button class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>&nbsp;Deletar</button>
                        </a>
                    </td>

                </tr>
            {% endfor %}

        </tbody>
    </table>
    <!-- <script src="{{url_for('static', filename='pesquisaProjeto.js')}}"></script> -->
    <script>
    var projetos = [];
    var i = 0;
    {% for projeto in projetos %}
        projetos[i] = {id: "", nome: "", cliente: "", descricao: ""};
        projetos[i].id = {{projeto.id}};
        projetos[i].nome = "{{projeto.nome}}";
        projetos[i].cliente = "{{projeto.cliente.nome}}";
        projetos[i].descricao = "{{projeto.descricao}}";
        i++;
    {% endfor %}
    </script>
    <script src="{{url_for('static', filename='pesquisaProjeto.js')}}"></script>
    {% endblock %}
</div>