{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Deletar Projeto</h1>
</div>
<dl class="dl-horizontal">
    <dt>Cod Projeto</dt>
    <dd>{{projeto.id}}</dd>
    <dt>Nome</dt>
    <dd>{{projeto.nome}}</dd>
    <dt>Cliente</dt>
    <dd>{{projeto.cliente.nome}}</dd>
    <dt>Descrição</dt>
    <dd>{{projeto.descricao}}</dd>
</dl>
<form action="/admin/projeto/deletar/{{ projeto.id }}" method="post">
    <input type="submit" value="Deletar" class="btn btn-default"> |
    <a href="/admin/projeto">Voltar</a>
</form>
{% endblock %}