{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div class="teste">
    <div class="page-header">
        <h1 class="text-center">Funcionario X Projetos</h1>
    </div>
    <div class="text-center">
        <label>Pesquisar:</label>
        <input id="pesquisar" name="pesquisar" type="search" placeholder="Digite o codigo"/>
    </div>
    <a href="/admin/vinculacao/cadastrar">
        <button class="btn btn-success btn-lg pull-right">
            <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Cadastrar</button>
    </a>
    <table id="listaVinculacoes" class="table">
        <tbody>
            <tr>
                <td>
                    <h3>Cod FuncionarioXProjeto</h3>
                </td>
                <td>
                    <h3>Funcionario</h3>
                </td>
                <td>
                    <h3>Projeto</h3>
                </td>
                <td>
                    <h3>Coordenador</h3>
                </td>
                <th></th>
            </tr>
            {% for vinculacao in vinculacoes %}
            <tr>
                <td>{{ vinculacao.id }}</td>
                <td>{{ vinculacao.funcionario.nome }}</td>
                <td>{{ vinculacao.projeto.nome }}</td>
                <td>{{ vinculacao.coordenador }}</td>
                <td>
                    <a href="/admin/vinculacao/editar/{{ vinculacao.id }}">
                        <button class="btn btn-primary">
                            <i class="glyphicon glyphicon-pencil"></i>&nbsp;Editar</button>
                    </a>
                    <a href="/admin/vinculacao/detalhes/{{ vinculacao.id }}">
                        <button class="btn btn-info">
                            <i class="glyphicon glyphicon-info-sign"></i>&nbsp;Detalhes</button>
                    </a>
                    <a href="/admin/vinculacao/deletar/{{ vinculacao.id }}">
                        <button class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>&nbsp;Deletar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    var vinculacoes = [];
    var i = 0;
    {% for vinculacao in vinculacoes %}
        vinculacoes[i] = {id: "", projeto: "", funcionario: "", projeto: "", coordenador: ""};
        vinculacoes[i].id = {{vinculacao.id}};
        vinculacoes[i].funcionario = "{{vinculacao.funcionario.nome}}";
        vinculacoes[i].projeto = "{{vinculacao.projeto.nome}}";
        vinculacoes[i].coordenador = "{{vinculacao.coordenador}}";
        i++;
    {% endfor %}
</script>
<script src="{{url_for('static', filename='pesquisaVinculacao.js')}}"></script>
{% endblock %}