{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block page_content %}
<div style="background: rgba(248, 247, 247, 0.596);padding: 30px;margin-top: 50px;border-radius: 10px;">
    <div class="page-header">
        <h1 style="text-align: center;">Deletar Vinculaçao</h1>
        <a href="/admin/vinculacao">
            <button type="button" class="btn btn-primary btn-lg">
                <i class="glyphicon glyphicon-chevron-left"></i>Voltar</button>
        </a>
    </div>
    <dl class="dl-horizontal">
        <dt>Cod FuncionarioXProjeto</dt>
        <dd>{{vinculacao.id}}</dd>
        <dt>Projeto</dt>
        <dd>{{vinculacao.projeto.nome}}</dd>
        <dt>Funcionario</dt>
        <dd>{{vinculacao.funcionario.nome}}</dd>
        <dt>Coordenador</dt>
        <dd>{{vinculacao.coordenador}}</dd>
    </dl>
    <form action="/admin/vinculacao/deletar/{{ vinculacao.id }}" method="post">
        <input type="submit" value="Deletar" class="btn btn-danger">
    </form>
</div>
{% endblock %}