{% extends "bootstrap/base.html" %} {% block title %}Talks{% endblock %} {% block navbar %}
<script src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>

    <ul class="nav navbar-nav">
        <li>
            <a href="{{ url_for('talks.home') }}">Home</a>
        </li>
        {% if current_user.is_authenticated %}
        <li>
            <a href="{{ url_for('talks.user', nome=current_user.nome) }}">Profile</a>
        </li>
        <li>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="{{ url_for('auth.login') }}">Login</a>
        </li>
        {% endif %}
    </ul>
{% endblock %} {% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">x</button>
    {{ message }}
</div>
{% endfor %} {% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
<div class="login" style="margin: 0 auto;width: 400px;margin-top:50px;">
    {% block login %} {% endblock %}
</div>
{% endblock %}